@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap&subset=cyrillic');

body {
  position: relative;
  min-width: 320px;
  font-family: 'Ubuntu', sans-serif;
  color: #393e6b;
  font-size: 14px;
  font-weight: 400;
}

.inner {
  width: 100%;
  max-width: 1064px;
  padding: 0 20px;
  margin: 0 auto;
}

.head-wrapper {
  background:
    linear-gradient(67deg, rgba(40, 43, 68, 0.97) 0%, rgba(61, 68, 128, 0.97) 100%),
    url('../images/bg_photo.jpg');
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 53px 20px 0;
}

.logo__link {
  display: inline-block;
  padding: 9px 29px 11px 25px;
  width: 163px;
}

.header__description {
  border-left: 1px solid #49657d;
  padding: 6px 28px 8px;
  margin-right: auto;
  color: #fff;
  line-height: 18px;
  letter-spacing: 0.35px;
}

.header__note {
  color: #60e5d7;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.header__menu {
  margin-left: auto;
  align-self: flex-end;
  transition: 0.5s ease-out max-height;
}

.nav {
  display: inline-block;
  padding-right: 17px;
}

.nav__link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
  padding: 12px 16px 10px;
}

.header__button {
  display: inline-block;
  border: none;
  background: #fff;
  border-radius: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
  color: #393e6b;
  padding: 12px 22px 10px;
}

.header__button-open-menu {
  display: none;
  cursor: pointer;
  margin-left: auto;
  padding: 14px;
  background: none;
  border: none;
  line-height: 0;
  color: rgba(255, 255, 255, .9);
  font-size: 22px;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
}

.intro__main {
  flex: 0 1 50%;
  padding: 184px 0 174px 17px;
}

.intro__text {
  color: #fff;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.85px;
  padding: 0 0 71px 3px;
}

.intro__button {
  display: block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.4px;
  border-radius: 28px;
  background: #0facbb;
  border: none;
  padding: 19px 37px 18px;
}

.intro__picture {
  flex: 0 1 50%;
  padding: 76px 0 0 74px;
}

.in_pic {
  width: 100%;
  background: url("../images/img_01_x2.png") no-repeat;
  background-size: contain;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clients {
  background-color: #f5f5fa;
  padding: 95px 0 82px;
}

.clients__title {
  opacity: 0.35;
  color: #393e6b;;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
  margin-bottom: 89px;
}

.slider.slick-slider {
  margin-bottom: 0;
}

.slick-arrow {
  width: 12px;
  height: 23px;
}

.slick-arrow::before {
  content: none;
}

.slick-prev {
  background: url('../images/arrow_prev.svg') no-repeat;
  left: -35px;
}

.slick-next {
  background: url('../images/arrow_next.svg') no-repeat;
  right: -35px;
}

.slick-prev:hover,
.slick-prev:focus {
  background: url("../images/arrow_prev.svg");
}

.slick-next:hover,
.slick-next:focus {
  background: url("../images/arrow_next.svg");
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before,
.slick-arrow:before {
  color: transparent;
}

.slick-dots li {
  width: 5px;
  height: 5px;
  background: #9ea0b8;
  opacity: 0.4;
  border-radius: 50%;
  margin: 8px;
}

.slick-dots li.slick-active {
  opacity: 1;
}

.slider__item {
  margin: 0 40px;
}

.slider__img {
  margin: auto;
}

.slider .slick-track {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #242637;
}

.footer__inner {
  text-align: center;
  padding: 20px;
  font-weight: 300;
  color: #7b7fa8;
  letter-spacing: 0.35px;
}

.footer__link {
  color: #22d6e7;
}

@media (min-width: 1024px) {
  .nav__link:hover {
    color: #b3b5c8;
  }
}

@media (max-width: 1134px) {
  .slider {
    margin: 0 auto 30px;
    max-width: calc(100% - 70px);
  }
}

@media (max-width: 1032px) {
  .header__nav {
    padding-right: 0;
  }

  .header__description {
    max-width: 205px;
  }
}

@media (max-width: 923px) {
  .header__description {
    max-width: 100%;
  }

  .header__menu {
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
  }

  .header__button {
    display: block;
    margin: 0 auto;
  }

  .header__button-open-menu {
    display: block;
  }

  .nav__link {
    display: block;
  }

  .menu--show {
    max-height: 500px;
  }

  .intro__inner {
    flex-direction: column;
  }

  .intro__main {
    order: 1;
    padding: 48px 0 31px;
  }

  .intro__picture {
    padding: 57px 0 0;
  }

  .intro__text {
    padding-bottom: 38px;
    text-align: center;
  }

  .intro__button {
    margin: 0 auto;
  }

  .intro__picture {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .clients__title {
    margin-bottom: 44px;
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

@media (max-width: 640px) {
  .header__inner {
    padding: 0;
  }

  .logo__link {
    padding: 22px 25px 19px;
    width: 120px;
  }

  .header__description {
    display: block;
    width: 100%;
    order: 1;
    border-left: none;
    border-top: 1px solid #49657d;
    padding-top: 16px;
  }

  .header__button-open-menu {
    padding: 26px 25px 21px;
    font-size: 12px;
  }

  .header__menu {
    order: 2;
  }

  .intro__text {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.55px;
  }

  .intro__button {
    border-radius: 31px;
  }

  .intro__picture {
    padding: 57px 0 0;

  }

  .clients {
    padding: 34px 0 68px;
  }

  .slider__item {
    margin: 0 10px;
  }
}